header{
    display: flex;
    border: 1px solid black;
    width: 25rem;
}

button{
    padding: 0;
    margin: 0.3rem 0 0 11rem;
    background-color: white;
    border: none;
}

button:active{
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: 100%;
}

#borda{
    display: flex;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 3px solid rgb(205, 14, 144);
    align-items: center;
    justify-content: center;
    margin: 1rem
}

#avatar{
    width: 70%;
    height: 70%;
}

#superior{
    display: flex;
    flex-direction: column;
}

#superior>h3{
    margin: 0.7rem 0 0;
}

#superior>h5{
    margin: 0.15rem 0.3rem 0;
    color: rgba(0, 0, 0, 0.378)
}